<div class="landingpage ms-0">
    <div class="content">
        <p class="p1">A comprehensive platform for reliable</p>
        <p class="p2 animate__animated animate__zoomIn">job opportunities and internships.</p>
        <p class="p3">Get Discovered. Get Hired.</p>
        <button>
           <a href="/jobs"> I'm a JobSeeker</a>
        </button>
        <button>
            <a href="/register">I'm a Recruiter</a>
        </button>
    </div>
    <div class="image">
        <img src="/images/bg.png" alt="Welcome">
    </div>
</div>